/**start section header**/
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

body{
	font-family: 'Cairo', sans-serif;
}

h3{
	font-size: 20px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 16px;
}

h6{
	font-size: 14px;
}
ol{
	margin-bottom: 40px;
}
ol li{
	margin-bottom: 6px;
}

.card-header{
    padding-top: 18px;	
}
.card-footer{
	padding-top: 40px;
}
.card{
	margin: 30px 0;
}

.hr{
	width: 100%;
    border-top: 1px solid rgba(0,0,0,.125);	
} 
@media print {
	.card {
	    margin: 1px 0;
	}
	table td{
		padding: 8px !important;
	}

	.card > div {
		padding: 5px;
	}
} 